
<section class="encabezado header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>MISIÓN Y VISIÓN</h1>
        <h4>lo que nos mueve y hacia dónde vamos</h4>
      </div>
    </div>
  </div>
</section>

<section class="cards-section row">
  <div class="card desface2 ">
      <section class="imagen-visión">
        <h3>Nuestra Misión</h3>
      </section>
      <p>
        Ser una comunidad educativa comprometida en formar personas íntegras que amen a Dios sobre todas las cosas, restaurando
        relaciones esenciales con Dios, el prójimo, la naturaleza y consigo mismos. Aspiramos a ser un oasis de restauración y
        un refugio de fe, donde estudiantes y familias, guiados por un modelo bíblico, sean preparados en espíritu, alma y
        cuerpo para glorificar a Dios, servir con excelencia a la comunidad y vivir conforme a principios divinos.
      </p>
  </div>
  <div class="card desface  ">
    <section class="imagen-mision">
      <h3>Nuestra Visión</h3>
    </section>
      <p>
        Como Comunidad Genesaret, educamos integralmente a estudiantes mediante una formación centrada en principios bíblicos y
        excelencia académica, potenciando su desarrollo espiritual, académico y valórico. Trabajamos en alianza con familias
        comprometidas, quienes asumen su responsabilidad en los procesos formativos del estudiante, fortaleciendo su disciplina,
        conducta y apoyo diario. Nuestro objetivo es equipar a cada alumno para descubrir sus dones, talentos y habilidades,
        preparándolos para impactar positivamente en su entorno y glorificar a Dios en todo lo que hacen.
      </p>
  </div>
</section>
